* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  height: 1000rem;
}

h1 {
  font-weight: 700;
  font-style: italic;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

a {
  text-decoration-line: none;
  margin-right: 20px;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.header .body {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  color: rgb(100, 95, 95);
  text-align: center;
  padding: 8px 21px;
}