* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  height: 1000rem;
}

h1 {
  font-weight: 700;
  font-style: italic;
  padding: 5px;
}

a {
  text-decoration-line: none;
  margin-right: 20px
}

.main-content {
  width: 1170px;
}

.header .body {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
  
}